@import '~normalize.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html, .slick-track, .slick-slide > div {
    height: 100%;
}

body {
    background-color: grey;
    min-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.responsive_block {
    display: flex;
    flex: 1 0 auto;
    position: relative;
}

.triangle::after {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #056cc1;
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: white;
}
